.ipynb_checkpoints
*/.ipynb_checkpoints/*
/data
/test/natural_images
/test/model
/track1/submission/dataset
/track1/submission/augdata
/track1/submission/__pycache__
/track1/submission/checkpoint
/track1/submission/model
/track1/submission/StrongUnivModel.h5
/track1/submission/submission